---
- name: Configure Web Server and Install Docker
  hosts: all
  become: true
  gather_facts: yes  # This MUST be yes to detect Ubuntu version

  roles:
    - docker         # This calls the docker role